
<h1>Fulfilled Requests</h1>

<%#Prints the table of the names, cost, and link to people's pages %>
<table class = "table table-striped">
  <thead class = "thead-dark">
      <th>Name</th>
      <th>Cost</th>
      <th>Link to Page</th>
  </thead>
</table>
