<div class = "background">
<h1 class = "title">Fulfilled Requests</h1>
<%#Sorts the requests by price%>
<%temp = Array.new%>
<%Request.all.each do |request| %>
  <%if request.cost.present? %>
    <%temp.unshift [request.cost, request.name, request.id]%>
  <%end%>
<%end%>
<% temp = temp.sort { |a,b| a[0] <=> b[0]}%>

<%#Prints the table of the names, cost, and link to people's pages %>
<table class = "request-cont">
  <tr class = "header">
    <th class = "request-column">Name</th>
    <th class = "request-column">Cost</th>
    <th class = "request-column">Link to Page</th>
  </tr>
  <%temp.each do |person| %>
    <tr class = text>
      <td class = "request-column" ><%=person[1]%></td>
      <td class = "request-column">$<%=person[0]%></td>
      <td class = "request-column"><%=link_to "Cart", request_path(person[2]) %></td>
    </trtext>
  <% end %>
</table>
</div>