<%=image_tag("Logo.png", height: 320, class: 'd-block mx-auto')%>
<h1>Everyone should be able to eat. No questions asked.</h1>
<h5>Based on the idea of a suspended coffee, the idea of being able to get access to a free coffee with no questions asked, </h5>
<h5>our team was inspired to help college students who struggle be able to obtain the food they need to live a healthy life.</h5>