<p id="notice"><%= notice %></p>

<h1>Requests</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Request Name (fields here)</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <% if request.user == current_user%>
      <tr>
        <td><%= link_to request.name, 'http://localhost:3000/requests/' + request.id.to_s %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
