<div>
  <p><%=@request.name%></p>
  <p> 
    <% @request.product_list.each do |product_id|%>
      <%= product_id %>
    <% end %>
  </p>
</div>
<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
