// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.background {
  background: lightblue;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 1rem;
  height: 100vh;
}

.request-cont {
  margin-top: 2rem;
  background-color: #FFCCA5;
  border-collapse: collapse;
  width: 100%;
}

.request-column {
  border: 3px solid black;
  padding: 1rem;
}

.header {
  background-color: #FFCCA5;
  color: purple;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.title{
  color: purple;
  font-size: 3rem;
  font-weight: bold;
}

.text {
  color: purple;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}